@import "../theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


.calendar_header{
  text-align: center;
  margin: 3rem 0 1.5rem 0;
  .sub_title{
    margin: 0;
    font-size: 1rem;
    color: var(--font2_main);
  }
  .main_title{
    margin: 0;
    font-size: 2rem;
    color: var(--font1_main);
  }
}

.react-calendar {
  width: 90vw;
  max-width: 1200px;
  padding: 20px;
  border: none;
  color: var(--font1_main);
  font-family: "IBM Plex Sans KR",sans-serif;
  line-height: 1.125em;
  border-radius: 2rem;
  background-color: var(--background_main);
  filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.15));

}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 3rem;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 2rem;
  border-radius: 3rem;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  transition: background-color 0.5s;
  border-radius: 3rem;
  font-weight: bold;
}

.react-calendar__navigation button:disabled {
  background: var(--backGround_2);
  border-radius: 3rem;
  transition: background-color 0.5s;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: var(--point1_2);
  border-radius: 3rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  border-radius: 3rem;
  text-decoration: none;
  font-weight: 700;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--brand1_main);
  font-weight: 700;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--font2_op_60);
  border-radius: 2.5rem;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1rem 0.5rem;
  border-radius: 3rem;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 24px;
  font-weight: bolder;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  border-radius: 3rem;
  transition: background-color 0.5s;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--point3_op_60);
  border-radius: 3rem;
  transition: background-color 0.5s;
}

.react-calendar__tile--now {
  background: var(--brand3_main);
  border-radius: 3rem;
  color: var(--white);
  transition: background-color 0.5s;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--point1_main);
  border-radius: 3rem;
}

.react-calendar__tile--hasActive {
  background: var(--brand2_main);
  border-radius: 3rem;
  color: white;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--point1_main);
  border-radius: 3rem;
  color: white;
}

.react-calendar__tile--active {
  background: var(--brand1_main);
  border-radius: 3rem;
  color: white;
  transition: background-color 0.5s;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--point2_main);
  border-radius: 3rem;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background: var(--point2_main);
  border-radius: 3rem;
  transition: background-color 0.5s;
}

.highlight1 {
  background: var(--point3_main);
}
.highlight2 {
  background-size: 39px 39px;
  background-repeat: no-repeat;
  background-position: center;
  //border-image: url("../assets/images/stamp/stamp_best.svg");
}