@import "_util.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

.mypage_container {
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
}

.profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 5vh 0;

  .profile_img_container {
    position: relative;

    width: 75px;
    height: 75px;

    background-color: $background_1;

    border: 5px solid $brand1_main;
    border-radius: 100%;

    .profile_edit_button {
      position: absolute;
      left: 55px;

      width: 30px;
      height: 30px;

      background-color: $background_main;

      border: 0;
      border-radius: 100%;

      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

      .profile_edit_button_img {
        width: 17px;
        height: 17px;
        filter: invert(65%) sepia(47%) saturate(4026%) hue-rotate(125deg)
          brightness(93%) contrast(98%);
      }
    }

    .profile_img_div{
      overflow: hidden;
      width: 100%;
      border-radius: 100%;

      .profile_img {
        width: 100%;
      }
    }
  }
  .profile_text {
    margin: 1rem 0;

    .profile_nickname_text {
      color: $font1_main;
      font-size: 1.2rem;
      font-weight: bold;

      margin: 0;
    }

    .profile_content_text {
      color: $brand1_main;
      font-size: 0.8rem;

      margin: 0;
    }
  }
}

.regular_container {
  display: flex;
  width: 80%;
  padding: 0 10%;
}

.shortcuts_container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
