@import '_util.scss';        
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


.profile_container{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

.regular_container{
    display: flex;
    width: 80%;
}