@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.notfount{
    font-family: "IBM Plex Sans KR",sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 2px rgb(0,0,0,0.15));

    .notfound_title{
        font-size: 3rem;
        color: var(--brand1_main);
        margin: 0;
    }

    .notfound_text{
        font-size: 1rem;
        color: var(--font2_main)
    }
}