// @import "../styles/theme.css";
@import "theme.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

.todaypage {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  .today_header {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.calendar_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.challengecounter_form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.challengeitems_form {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

.challengeitems_list {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}
