@import "theme.css";
@import "_util.scss";
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.homepage {
  font-family: "IBM Plex Sans KR",sans-serif;
  width: 100%;
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr;

  justify-content: center;
  align-items: center;
  margin:auto;
  overflow-y: hidden;

  position: relative;

  .input_purchase{
    width: 100%;
    position: absolute;
    top: 76%;
  }

  .information_block{
    width: 100%;
    max-width: 450px;
    margin: auto;
    
    display: flex;
    justify-content: center;
    
    .information_block_button{
      width: 80%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 1rem;
      padding: 0.5rem 0;
      filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.15));

      p {
        margin: 0;
      }

      .information_block_title{
        font-weight: 600;
        font-size: 1rem;
        color: $font1_main;
      }

      .information_block_content{
        font-size: 0.7rem;
        color: $font1_main;
      }
    }
  }
}

.homepage_header{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  padding: 2.5vh 0;
  margin: 5vh;
}

.homepage_header_title{
  font-family: "IBM Plex Sans KR",sans-serif;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin : 1rem 0;

  .homepage_header_title_text{
    font-size: 2.5rem;
    height: 5rem;
    margin : 0;
    color: var(--brand1_main);
  }
}

.homepage_text{
  font-family: "IBM Plex Sans KR",sans-serif;
  font-weight: bold;
  color: var(--font2_main);
  margin:auto;
  overflow: hidden;
}

.main_circle {
  width: 65vw;
  max-width: 450px;
  height: 65vw;
  max-height: 450px;
  justify-content: center;
  margin: 4vh auto;
  position:relative;
  text-align:center;
  border: 1px solid $brand1_main;
  background-color: var(--white);

  border-radius: 100%;

  overflow: hidden;
  filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.15));

  .div{
    transition: height 0.5s ease;
  }

  .main_circle_gradation {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--gradation-end) 0%, var(--gradation-start) 100%);
  }
}

.start_challenge{
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .start_challenge_button{
    font-family: "IBM Plex Sans KR",sans-serif;
    height: 80%;
    width : 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25), -2px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;


    background-color: var(--white);
    border: 1px var(--font1_main);
    border-radius: 100%;

    .start_challenge_button_title{
      margin: 0px;
      color: var(--brand1_main);
    }
  }
}

.progress_challenge{
  display: grid;
  grid-template-columns: 1fr;

  .progress_challenge_title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

    color: var(--white);

    h2{
      font-size: 3rem;
      margin: 0 1rem;
    }

    h3{
      font-size: 1.2rem;
      margin: 0;
      padding-bottom: 1rem;
    }
  }
}

.linkto_today{
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--white);
}

.challenge_link_text{
  font-family: "IBM Plex Sans KR",sans-serif;
  margin: 0;
  font-weight: bold;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hei{
  height: 20vw;
  width: 100%;
}

.waves {
  position:relative;
  width: 100%;
  height: 100%;
  margin-bottom:-7px;
  min-height:10px;
  max-height:300px;
}

.bottom_gradation {
  width: 100%;
  height: 50vh;
  opacity: 80%;
  background: var(--gradation-end);

  display: flex;
  justify-content: center;
  align-items: center;
}

.getspace {
  height: 10vh;
}

/* Animation */
.parallax > use {
  animation: move-forever 5s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 3s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 7s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 8s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:100%;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}