@import "../_util.scss"; 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.challengecounter{
    font-family: "IBM Plex Sans KR",sans-serif;

    width: 80%;
    height: 70px;
    border-radius: 15px;
    background: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
    justify-content: center;
    align-items: center;

    .challengecounter_box {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    .styled_Challenge_bolck{
        height: 30%;
        .styled_horizontal_line{
            width: 0px;
            height: 100%;

            border: 1px solid $brand2_op_60;
            border-radius: 2px;
            justify-content: center;
            align-items: center;
        }
    }

    .challengecounter_item{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        position: relative;

        .color_pointer_div{
            position: absolute;
            width: 55%;
            top: 10%;

            .color_pointer{
                width: 3vw;
                height: 3vw;
                border-radius: 100%;
            }
        }

        .current{
            background-color: $brand1_op_60;
        }

        .success{
            background-color: $brand2_op_60;
        }

        .fail{
            background-color: $point2_op_60;
        }


        .challengecounter_counter{
            width: 100%;
            margin: 0;
            font-size: 1.3rem;
            font-weight: bold;
        }

        .challengecounter_text{
            width: 100%;
            margin: 0;
            font-size: 0.5rem;
            color: $font2_main;
        }
    }
}