@import '../util.scss';         /*변수파일 - 색상 + 모바일 체크*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


.max_div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.others_links{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    .link_left{
        display: flex;
    }

    .link_right{
        display: flex;
        justify-content: right;
    }

}

.others_link{
    text-decoration: none;
    color: $brand1_main;
    font-weight: 600;
    font-size: 0.8rem;
}

.ocr_line{
    width: 80%;
    display: flex;
    align-items: center;

}

.ocr_text{
    width: 100%;
    text-align: left;
    color: $brand1_main;
}

.ocr_login{
    width: 80%;
    display: flex;
    justify-content: right;
}