@import '../_util.scss';         /*변수파일 - 색상 + 모바일 체크*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.LoginButton{
    font-family: "IBM Plex Sans KR",sans-serif;

    width: 100%;
    height: 40px;
    margin: 0.8rem auto;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &.kakao{
        color: $kakao_brown;
        background-color: $kakao_yellow;
    }

    .login_icon{
        width: 22px;
        padding: 5px;
        margin: 5px;
    }
}