server:
  servlet:
    context-path: /api

spring:
  profiles:
    active: local
    include: secret

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
---
spring:
  config:
    activate:
      on-profile: local

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:tcp://localhost/~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
      logging.level:
        org.hibernate.SQL: debug

  cloud:
    aws:
      s3:
        directory: local

  notification:
    mattermost:
      enabled: false
      webhook-url:
      channel:
      pretext:
      color:
      author-name:
      author-icon:
      footer: