@import "../util.scss"; /*변수파일 - 색상 + 모바일 체크*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

.check_box_guide {
  width: 100%;
  display: flex;
  justify-content: center;
}

.check_box {
  width: 80%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  .check_box_div {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 12px;

    .checkbox_input {
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      margin: 4px;
      margin-bottom: 12px;
      cursor: pointer;
      border: 1px solid $brand2_main;
      background-color: $white;
      color: var(--brand2_main);

      &:checked {
        background: $brand2_main;
        transition: all 0.1s ease-in-out;
      }
    }

    .checkbox_img {
      width: 100%;
    }

    .checkbox_label {
      font-size: 1rem;
      margin: 4px;
      margin-bottom: 1rem;
    }
  }
}
