@import "../_util.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.colorpicker_style{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}