@import '../util.scss';         /*변수파일 - 색상 + 모바일 체크*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


.input_box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text_container{
    width: 80%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));

    .input_field_type{
        width: 80%;
        margin-left: 1rem;
        text-align: left;
        color: $brand1_main;
        font-weight: 600;
        margin-bottom: 1%;
    }
}

.input_field{
    width: 80%;
    height: 6vh;
    border-radius: 40px;
    margin-bottom: 1rem;
    max-width: 450px;
    color: $font1_main;
    font-size: 1rem;
    border: 2px solid $brand2_main;
    
    text-align: left;
    padding-left: 1rem;
    
    &::placeholder {
        font-size: 0.7rem;
        color: $font2_main;
    }
    
    @include mobile{ 
        // 브라우저 사이즈767px이하일때
    }

    @include tablet{
        /*브라우저 사이즈1023px이하일때*/
        background: $brand1_main;
    }
    
    @include desktop{
        /*브라우저 사이즈1024px이상일때*/
        background: $point1_main;
    }
}