@import "../theme.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

.Middle {
  font-family: "IBM Plex Sans KR", sans-serif;
  width: 80%;
  // height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: var(--brand2_op_20);
  border-radius: 15px;
  // background-color: var(--brand2_op_20);

  .Middle_sub_title {
    margin: 0;
    font-size: 1rem;
    color: var(--font2_main);
  }
  .Middle_main_title {
    margin: 0;
    font-size: 2rem;
    color: var(--font1_main);
  }
}
