@import '../_util.scss';         /*변수파일 - 색상 + 모바일 체크*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


.regist_modal{
    width: 100%;
    height: 75%;
    min-width: 200px;

    position: fixed;
    top: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 350ms;
    z-index: 10;

    justify-content: space-between;
    border-radius: 1rem;

    z-index: 1;

    background-color: $white;

    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
    
    .regist_title{
        color: $font1_main;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.close_regist_modal{
    width: 80%;
    display: flex;
    justify-content: right;
    margin: 5% auto;

    .close_regist_modal_button{
        background-color: $transparent;
        border: none;

        .close_regist_modal_icon{
            width: 25px;
            filter: invert(55%) sepia(0%) saturate(1289%) hue-rotate(191deg) brightness(87%) contrast(90%);
        }
    }    
}

.inputprice_space{
    width: 70%;
    display: flex;
    justify-content: right;
    margin: 5% auto;
    font-weight: bold;

    .inputprice_space_text{
        display: flex;
        align-items: end;
        margin: auto;
        font-size: 1rem;
        color: $font1_main;
    }
}


.categoryselect_space{
    width: 70%;
    
    color: $font2_op_60;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 5% auto;
    padding: 2vh 0;

    border-radius: 1rem;

    background-color: $background_main; 
}