@import '../util.scss';         /*변수파일 - 색상 + 모바일 체크*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.Shortcut_button_box{
  display: flex;
  justify-content: center;
}

.shortcut_button_container{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));
}

.shortcut_button {
  font-family: "IBM Plex Sans KR",sans-serif;

  margin: 10px;

  width: 80%;
  height: 6vh;
  max-width: 450px;

  color: $brand1_main;
  font-size: 1rem;
  font-weight: bolder;
  
  border-radius: 40px;
  background-color: $white;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transition: all 0.1s ease-in-out;
  }

  @include mobile{ 
    // 브라우저 사이즈767px이하일때
  }

  @include tablet{
    /*브라우저 사이즈1023px이하일때*/
    background: $brand1_main;
  }
  
  @include desktop{
    /*브라우저 사이즈1024px이상일때*/
    background: $point1_main;
  }

  .shortcut_button_icon{
    margin-top: 20%;
    width: 50%;
    filter: invert(26%) sepia(88%) saturate(1093%) hue-rotate(167deg) brightness(93%) contrast(96%);
  }

  .shortcut_button_text{
    margin: auto;
  }
}

.shortcut_button.white {
  color: $brand1_main;
  background-color: $white;
  border: none;
  font-size: 1.2rem;
}

// square
.shortcut_button.square{
  width: 20vw;
  height: 20vw;
  border: none;
  border-radius: 0.5rem;
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
}
