@import "../_util.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.spent_item {
    font-family: "IBM Plex Sans KR",sans-serif;

    width: 80%;
    border-radius: 1rem;
    background-color: $white;
    height: 60px;
    margin: 0.5rem auto;

    filter: drop-shadow(2px 2px 2px rgb(0,0,0,0.15));

    display: grid;
    grid-template-columns: 8fr 2fr;

    .spent_item_category{
        background-color: $BLACK_03;
        border-radius: 0.5rem;
        overflow: hidden;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spent_item_name_div{
        margin: auto;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .spent_item_name{
            margin: 0;
            color: $font1_main;
            font-size: 1rem;
            text-align: left;
        }
    }

    .spent_item_price_div{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .spent_item_price{
            color: $font2_main;
            font-size: 0.8rem;
        }
    }
}